.modalTask {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: flex-end;
	background: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	& .contentModal {
		width: 40%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.95);
		padding: 1rem;
		border-radius: 0.5rem;
		box-sizing: border-box;
		& header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			& h2 {
				color: var(--primary);
			}
			& span {
				color: var(--text);
			}
		}
		& form {
			display: flex;
			flex-direction: column;
		}
	}
}
